<div class="content">
    <h1>Join!</h1>
    <p>
        Are you an NDSU student and interested in any of the Bison Robotics' projects/volunteer work? Join the nerd
        herd! Simply follow the instructions in the posted document to do so, and start attending our bi-montly Large
        Group Meetings (you can get the information needed for these after joining on MyNDSU).
    </p>
    <h1>Interested in Sponsoring a Project?</h1>
    <p>
        Want to get involved, but you are not a student at NDSU? Help sponsor one of Bison Robotics' projects through an
        in-kind or monetary donation! Sponsorship of any measure is what allows Bison Robotics to successfully
        participate in all of its engineering challenges; therefore, it is appreciated on a colossal level. If you are
        interested in sponsoring the organization in any way, please visit the sponsor page for more information.
    </p>
</div>