<div class="content">
    <div class="contact-buttons">
        <button type="button" class="btn btn-primary email-button" (click)="routeToEmail()">Contact Us!</button>
    </div>
    <div class="officer-emails">
        <h2>Officer Contacts</h2>
        <p>President: bisonroboticspresident&#64;gmail.com</p>
        <p>Vice President: bisonroboticsvicepresident&#64;gmail.com</p>
        <p>Project Manager: bisonroboticsprojectmanager&#64;gmail.com</p>
        <p>Service Coordinator: bisonroboticsservice&#64;gmail.com</p>
        <p>Treasurer: bisonroboticstreasury&#64;gmail.com</p>
        <p>Secretary: bisonroboticssecretary&#64;gmail.com</p>
        <p>Recruitment Officer: bisonroboticsrecruitment&#64;gmail.com</p>
    </div>
</div>