<div class="content">
    <h1>Bison Robotics</h1>
    <div class="row">
        <div class="col-3">
            <img src="" alt="Bison Robotics Organization Banner" />
        </div>
        <div class="col-6">
            <p>
                Bison Robotics' goal is to channel the energy and enthusiasm elicited by robotics through the rigorous
                process of engineering design. Members will apply engineering knowledge and principles in a structured
                approach to design and build competetive robots. Check out our Discord!
                <br><br>
                Bison Robotics is comprised of 5 projects and multiple volunteering opportunities. Bison Robotics
                volunteers at the 5 FIRST Robotics Competition regional events, both the FIRST Lego League and Tech
                Challenge tournaments here at NDSU, and at multiple VEX competitions. We volunteer to be able to inspire
                younger people to pursue an interest in the STEM fields.
            </p>
        </div>
        <div class="col-3"></div>
    </div>
</div>